<div id="containerTop">
  <div id="mainTop">
    <div class="target_2 panel-target panel-closed">
      <div id="header" class="clearfix">
        <div id="TopContacto">
          <h1 style="margin-bottom:15px">Contáctenos</h1>
          <p>Si desea cotizar nuestros servicios, resolver interrogantes o hacernos llegar sus comentarios, no dude en contactarnos.</p><p><a href="mailto:info@pessweb.com">info@pessweb.com</a></p>
        </div>
       
        <div id="TopContacto2">
          <div class="form_wrapper">
            <form method="POST" action="contact_form_es_MX.asp">
              <input type="hidden" name="Action" value="SendEmail">
              <fieldset>
              
              <ul>
                <li><label for="realname">Nombre:</label>
                    <input type="text" id="name" name="realname" size="40" maxlength="35" value="" class="text_field">
                </li>
                <li><label for="email">E-Mail:</label>
                    <input type="text" id="email" name="email" size="40" maxlength="35" value="" class="text_field">
                </li>
                <li><label for="asunto">Asunto:</label>
                    <input type="text" id="subject" name="subject" size="40" maxlength="35" value="" class="text_field">
                </li>
                <li><label for="phone">Teléfono:</label>
                    <input type="text" id="phone" name="phone" size="40" maxlength="35" value="" class="text_field">
                </li>
                <li><label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="7" cols="40" class="text_field"></textarea>
                </li>  
                <li class="submit"><input name="submit" type="submit" class="boton" value="Enviar &gt;"></li>
              </ul>
              </fieldset>
            </form>
          </div>
        </div>
        <div id="TopContactoRight">
          <h3>México</h3>
          <p><strong>Power Engineering Services and Solutions, S.A. de C.V.</strong><br>
                     Pabellon TEC suite 38-33 Av. Garza Sada 427 Col. Altavista, Monterrey NL. C.P. 64840
          </p>
          <p><strong>Tel</strong>. +52 (81) 8358.5599<br>
          <strong>Fax</strong>. +52 (81) 1234.2659</p>
          <br>
          <h3>USA</h3>
          <p><strong>Power Engineering Services and Solutions, Inc.</strong><br>
                     1215 San dario Ave Suite 4-895<br>
                     Laredo, Texas 78040
          </p>
          <p><strong>Tel</strong>. 408.813.4800</p>
        </div>
      </div>    
    </div>
  </div>
</div>