<div id="nav">
  <div id="navheader">
    <ul>
    <!-- CSS Tabs -->
    <li id="current"><a href="{{ app.url_generator.generate('home') }}">Inicio</a></li>
    <li><a href="{{ app.url_generator.generate('news') }}">Quiénes Somos</a></li>
    <li><a href="servicios.asp">Nuestros Servicios</a></li>
    <!-- <li><a href="turbologik.asp">Turbologik</a></li> -->
    <li><a href="turbologias.asp">Turbologías</a></li>
    <!-- <li>/qsomos.asp</li> -->    
    </ul>
  </div>
</div>